<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Jobs</h1>
  </div>
  <div class="panel-body">
    <ul>
      <% @jobs.each do |job| %>
        <% if job.completed %>
          <li><%= link_to job.title, user_job_path(job.user_id, job) %> - Claimed: Yes | Status: Completed</li>
          <hr>
        <% elsif job.pending %>
          <li><%= link_to job.title, user_job_path(job.user_id, job) %> - Claimed: Yes | Status: Pending</li>
          <hr>
        <% elsif job.worker_id.nil? %>
          <li><%= link_to job.title, user_job_path(job.user_id, job) %> - Claimed: No | Status: None</li>
          <hr>
        <% else %>
          <li><%= link_to job.title, user_job_path(job.user_id, job) %> - Claimed: Yes | Status: Working</li>
          <hr>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
