<h1> <%= @job.title %> </h1>

<h3><%= @job.description %></h3>

<% if @job.pending %>
  <p>Someone has already claimed this job; it's currently pending.</p>
<% else %>
<p>No one has claimed this job!</p>
<% if worker_signed_in? %>
<div id="claim-link">
  <%= link_to "click here to claim it now", user_job_path(@job.user_id, @job), :method => "patch", remote: true %>
</div>
<% end %>
<% end %>
